.header {
    width: 100vw;
    height: 17vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-orange);
}

.header__container-title {
    display: flex;
    align-items: center;

    margin-left: 30px;
}
.header__container-title img {
    width: 20%;
    margin-right: 20px;
}
.header__container-exit {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__first-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50vw;
    height: 100vh;

    font-family: "Open Sans", sans-serif;

    position: relative;
    margin-top: 4.5rem;
}

.first-step__title-container {
    position: relative;
}


.first-step__title-container span {
    font-size: var(--size-14);
}

.first-step__title-container .register-title {
    display: flex;
    align-items: center;
    
    margin-bottom: 15px;
}

.register-title img {
    margin-right: 5px;
}

.register-title__img-back {
    position:absolute;
    left: -300px;
    top: -10px
}
.register-title__steps {
    margin-bottom: 15px;
}

.form__input-text {
    border-radius: 10px;
    border: 1px var(--primary-orange) solid;

    padding: 10px;
}

.form__input-text:not(:last-child) {
    outline: none;
}

.form__input-text::placeholder, .form__input-select {
    font-size: var(--size-14);
}

.form__container-radio {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    font-size: var(--size-14);
}

.form__container-radio h3 {
    color: var(--neutral-black);
    margin-bottom: 20px;
}

.form__container-radio label {
    margin-bottom: 20px;
}

.form__input-radio {
    -webkit-appearance: none;

    border: 2px solid var(--primary-orange);
    border-radius: 100%;

    width: 15px;
    height: 15px;
}

.form__input-radio:checked {
    background-color: var(--secondary-green);
}

.form__btn-actions {
    border-radius: 10px;
    border: none;

    width: 30%;
    padding: 15px 40px;

    font-family: "Open Sans", sans-serif;
    font-size: var(--size-17);
    font-weight: bold;

    position: absolute;

    margin-top: 40px;

    cursor: pointer;
}

.form__btn-actions:disabled {
    background: var(--neutral-medium-gray);
    color: var(--neutral-white);
}

.form__btn-actions--next {
    bottom: 0;
    right: 0;
}

.footer span {
    text-align: center;
    color: var(--neutral-gray);

    font-family: 'Open Sans', sans-serif;
    font-size: var(--size-14);

    padding-bottom: 2rem;
    background-color: var(--neutral-light-gray);
}
