.header {
    width: 100vw;
    height: 17vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-orange);

    box-sizing: border-box;
}

.header__container-title {
    display: flex;
    align-items: center;

    margin-left: 30px;
}
.header__container-title img {
    width: 20%;
    margin-right: 20px;
}
.header__container-exit {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__first-step  {
    display: flex;
    justify-content: space-between;

    height: 100vh;
}
.form__second-step , .form__btn-actions--register{
    display: none;
}
.form__first-step , .form__second-step{
    flex-direction: column;

    width: 50vw;

    font-family: "Open Sans", sans-serif;

    margin-top: 4.5rem;
}

.first-step__title-container span {
    font-size: var(--size-14);
}

.register-title {
    display: flex;
    align-items: center;
    
    margin-bottom: 15px;

    position: relative;
}

.register-title__img-back {
    position:absolute;
    left: -190px;
    top: -10px
}
.register-title__steps {
    margin-bottom: 15px;
}

.form__input-text {
    border-radius: 10px;
    border: 1px var(--primary-orange) solid;

    padding: 10px;
}

.form__input-text:not(:last-child) {
    outline: none;
}
.form__input-text::placeholder, .form__input-select {
    font-size: var(--size-14);
}

.form__container-radio {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", sans-serif;
    font-size: var(--size-14);
}

.form__container-radio h3 {
    color: var(--neutral-black);
    margin-bottom: 20px;
}

.form__container-radio label {
    margin-bottom: 20px;
}

.form__input-radio {
    -webkit-appearance: none;

    border: 2px solid var(--primary-orange);
    border-radius: 100%;

    width: 15px;
    height: 15px;
}

.form__input-radio:checked {
    background-color: var(--secondary-green);
}

.form__btn-actions {
    width: 20%;
    padding: 15px 40px;

    border-radius: 10px;
    border: none;

    font-family: "Open Sans", sans-serif;
    font-size: var(--size-17);
    font-weight: bold;

    margin-top: 40px;
    margin-left: 55%;

    cursor: pointer;
}

.form__btn-actions:disabled {
    background: var(--neutral-medium-gray);
    color: var(--neutral-white);
}

footer {
    width: 100vw;
    height: 12vh;
    text-align: center;
    color: var(--neutral-gray);

    font-family: 'Open Sans', sans-serif;
    font-size: var(--size-14);

    padding: 2rem;
    margin-top: 3rem;

    background-color: var( --neutral-super-light-white);

    box-sizing: border-box;
}


