
.second-step__title-container {
    margin-bottom: 3rem;
}


.second-step__title-upload {
    color: var( --primary-orange);
    font-size: var(--size-17);
    font-weight: 500;

    margin-bottom: 5rem;
}

.second-step__uploads-container {
    display: grid;
    grid-template-areas: 
    "first-item first-item"
    "second-item third-item"    
    ;
    gap: 15px 15px;
}

.second-step__container-uploads {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: 1px solid var(--primary-orange);
    padding: 50px;

    box-sizing: border-box;

    background-color: var(--neutral-super-light-white);

    position: relative;
}
.second-step__container-uploads p {
    line-height: 25px;
    text-align: center;

    color: var(--neutral-gray);
    font-size: var(--size-17);

    margin-top: 20px;
    margin-bottom: 20px;
    
}

.second-step__container-uploads button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-file {
    visibility: hidden;
}
.input-file::before {
    content: "";

    visibility: visible;
 
    background-image: url("../imgs/ic_upload.svg");
    background-repeat: no-repeat;

    padding: 100px 100px;
    position: absolute;
}

.input-file::before {
    top: 70px;
    left: 45%;
}


.img-upload-user {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;
}

.active-upload-user {
    border: none;
    padding: 0;
}
.second-step__container-upload--second, 
.second-step__container-upload--third {
    width: 25vw;
    height: 47vh;
    margin-top: 1.3rem;
}

.second-step__container-upload--second p ,
.second-step__container-upload--third p {
    font-size: var(--size-14);
    margin-top: 100px;
}


.second-step__container-upload--first {
    width: 50vw;
    height: 50vh;

    grid-area: first-item;

    position: relative;
}

.second-step__container-upload--first span {
    width: 60px;
    height: 35px;
    padding: 5px 5px;
    
    background-color: var(--neutral-white);

    border: 1px solid var(--secondary-green);
    border-radius: 10px;

    box-sizing: border-box;
    
    position: absolute;
    top: 30px;
    left: 20px;

    text-align: center;
}

.second-step__container-upload--second {
    grid-area: second-item;
}
.second-step__container-upload--third {
    grid-area: third-item;
}

.form__btn-actions--register {
    margin-left: 35%;
}

